#home {
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
    align-items: center;
}

.name {
    color: blueviolet;
}

.home-text h1 {
    font-weight: 600;
    font-size: 32px;
}

.home-image img {
    width: 300px;
    height: auto;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 50%;
}

.type-effect {
    font-weight: 600;
    font-size: 32px;
}

.home-buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
