nav {
    padding: 1px 7%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    font-size: 32px;
    letter-spacing: 2px;
    cursor: pointer;
}

a {
    display: flex;
    gap: 6px;
}